# Папки
/.vs
/3rd_party/_LIB
/3rd_party/_TEMP
/src/_LIB
/src/_TEMP
/bin*

# Precompiled Headers
*.ipch

# Всякий ненужный мусор:
*.VC.*
*.suo
*.user
*.exp
*.aps
*.TMP
*.pdb
*.idb
*.lib
*.obj
*.dll
*.log
*.tlog
*.asm
*.recipe
*.res
*.iobj
*.pch
*.cod
*.exe
*.cache
*.txt
*.json
*.sqlite
*.out

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

/gamedata
/gamedata*
/_appdata_
/fsgame*
/mods